.client-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
}

.client-list__item {
    flex-basis: calc((100% - 2*30px) / 2);
    margin-top: 30px;
    margin-left: 30px;
}

.client-list__link {
    display: flex;
    align-items: center;
    justify-content: center;
    // width: 170px;
    height: 92px;

    border: 1px solid var(--icon-color);
    border-radius: 4px;

    transition: border 250ms var(--timing-function);

    &:hover,
    &:focus {
        border: 1px solid var(--accent-color);
    }
}

.client-list__icon {
    width: 106px;
    height: 60px;
    fill: var(--icon-color);

    transition: fill 250ms var(--timing-function);

    .client-list__link:hover &,
    .client-list__link:focus & {
        fill: var(--accent-color);
    }
}

@media screen and (min-width:768px){
    .client-list__item {
        flex-basis: calc((100% - 3*30px) / 3);
    }
}

@media screen and (min-width:1200px){
    .client-list {
        flex-wrap: nowrap;
    }
}