@media screen and (max-width:767px){
    .contact-list {
        display: none;
    }
}

@media screen and (min-width:768px){
    .contact-list {
        margin-left: auto;
    }

    .contact-list__item:not(:last-child){
        margin-bottom: 10px;
    }

    .contact-list__link {
        display: flex;
        align-items: center;
     
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: var(--primary-text-color);
    }

    .contact-list__icon {
        margin-right: 8px;
        fill: var(--primary-text-color);
    }
}

@media screen and (min-width:1200px){
    .contact-list {
        display: flex;
    }

    .contact-list__icon {
        margin-right: 10px;
 
        transition: fill 250ms var(--timing-function);
    
        .contact-list__link:hover &,
        .contact-list__link:focus & {
            fill: var(--accent-color);
        }
    }

    .contact-list__item:not(:last-child) {
        margin-right: 50px;
        margin-bottom: 0;
    }

    .contact-list__link {
        padding-top: 32px;
        padding-bottom: 32px;
            
        transition: color 250ms var(--timing-function);
    
        &:hover,
        &:focus {
            color: var(--accent-color);
        }
    }
}








