#contacts {
    background-color: var(--footer-bg-color);
    padding: 60px 0;
}

.footer-list {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
}

.footer-list__item:not(:last-child) {
    margin-bottom: 8px;
}

.footer-list__address-link {
    color: var(--white-text-color);
}

.footer-list__contact-link {
    color: var(--footer-contact-text-color);
}

.footer-social-list .title,
.sign-up .title {
    margin-top: 0;
    margin-bottom: 20px;

    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--white-text-color);
}

@media screen and (max-width:1199px) {
    .footer-container {
        text-align: center;
    }

    .footer-address-wrapper {
        margin-bottom: 60px;
    }

    .footer-social-list {
        margin-bottom: 60px;
    }
}

@media screen and (min-width:768px) and (max-width:1199px){
    .footer-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: baseline;
        padding-left: 76px;
        padding-right: 89px;
    }
}

@media screen and (min-width:1200px){
    .footer-container {
        display: flex;
        flex-wrap: nowrap;
    }

    .footer-list__item:not(:last-child) {
        margin-bottom: 9px;
    }

    .footer-list__address-link {
        transition: color 250ms var(--timing-function);
    
        &:hover,
        &:focus {
            color: var(--accent-color);
        }
    }

    .footer-list__contact-link {
        transition: color 250ms var(--timing-function);
    
        &:hover,
        &:focus {
            color: var(--accent-color);
        }
    }

    .footer-social-list {
        margin-left: 72px;
    }
}
