.hero {
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    padding-bottom: 200px;

    background-image: linear-gradient(to right,
            var(--hero-gradient-color),
            var(--hero-gradient-color)),
        url('../img/hero-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    text-align: center;
}

.hero__title {
    width: 696px;
    margin: 0 auto;
    margin-bottom: 30px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-text-color);
}

.hero__button {
    padding: 10px 32px;
    min-width: 200px;
    text-align: center;
    
    transition: background-color 250ms var(--timing-function);

    &:hover {
        background-color: #188ce8;
    }
}
