.hero {
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 118px;
    padding-bottom: 118px;

    background-image: linear-gradient(to right,
            var(--hero-gradient-color),
            var(--hero-gradient-color)),
        url('../img/mobile/header-img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    text-align: center;
}

@media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(to right,
            var(--hero-gradient-color),
            var(--hero-gradient-color)),
        url('../img/mobile/header-img@2x.jpg');
    }
}

.hero__title {
    width: 360px;
    margin: 0 auto;
    margin-bottom: 30px;

    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-text-color);
}

.hero__button {
    padding: 10px 32px;
    min-width: 200px;
    text-align: center;

    transition: background-color 250ms var(--timing-function);

    &:hover {
        background-color: #188ce8;
    }
}

@media screen and (min-width:768px){
    .hero {
        // max-width: 768px;
        
        background-image: linear-gradient(to right,
                var(--hero-gradient-color),
                var(--hero-gradient-color)),
            url('../img/tablet/header-img.jpg');
    }
    
    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(to right,
                    var(--hero-gradient-color),
                    var(--hero-gradient-color)),
                url('../img/tablet/header-img@2x.jpg');
        }
    }
}

@media screen and (min-width:1200px){
    .hero{
        max-width: 1600px;
        height: 600px;
        padding-top: 200px;
        padding-bottom: 200px;
        background-image: linear-gradient(to right,
            var(--hero-gradient-color),
            var(--hero-gradient-color)),
            url('../img/hero-bg.jpg');

    }

    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(to right,
                    var(--hero-gradient-color),
                    var(--hero-gradient-color)),
                url('../img/hero-bg@2x.jpg');
        }
    }

    .hero__title {
        width: 696px;
    
        font-size: 44px;
        line-height: 1.36;
    }
}
