@media screen and (max-width:1200px) {
    .section-service{
        display: none;
    }
}

.section-service {
    padding-bottom: 94px;
}

.service-list {
    display: flex;
    margin-top: -30px;
    margin-left: -30px;
}

.service-list__item {
    flex-basis: calc((100% - 90px) / 3);
    margin-top: 30px;
    margin-left: 30px;
}

.service-list__img {
    position: relative;
}

.service-list__title {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 14px;
    line-height: 1.15;
    text-transform: uppercase;
    color: var(--white-text-color);

    background-color: rgba(47, 48, 58, 0.8);
}
