.team {
    background-color: var(--secondary-bg-color);
}

.team-list__item {
    background-color: var(--body-background-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-list__content {
    padding: 30px 20px 24px;
    text-align: center;
}

.team-list__name {
    margin-top: 0;
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    color: var(--title-text-color);
}

.team-list__profile {
    margin: 0;
    margin-bottom: 16px;

    font-size: 16px;
    line-height: 1.19;
}

@media screen and (max-width:767px){
    .team-list__item:not(:last-child) {
        margin-bottom: 30px;
    }
}

@media screen and (min-width:768px){
    .team-list {
        display: flex;
        flex-wrap: wrap;
        margin-top: -30px;
        margin-left: -30px;
    }

    .team-list__item {
        flex-basis: calc((100% - 2*30px) / 2);
        margin-top: 30px;
        margin-left: 30px;
    }
}

@media screen and (min-width:1200px){
    .team-list__item {
        flex-basis: calc((100% - 120px) / 4);
        margin-top: 30px;
        margin-left: 30px;
    }

    .team-list__content {
        padding-bottom: 30px;
    }
}

