.form-sign-up-input {
    padding: 15px 16px;

    color: var(--white-text-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: var(--footer-bg-color);
}

.form-sign-up-button {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 10px 29px;
}

.form-sign-up-icon {
    margin-left: 10px;
}

@media screen and (max-width:1199px){
    .form-sign-up-input {
        margin-bottom: 20px;
        width: 100%;
    }

    .form-sign-up-button{
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width:768px) and (max-width:1199px){
    .sign-up{
        width: 100%;
    }

    .form-sign-up-input{
        width: 450px;
    }
}

@media screen and (min-width:1200px){
    .sign-up {
        margin-left: auto;
    }

    .form-sign-up {
        display: flex;
    }

    .form-sign-up-input {
        margin-right: 12px;
        width: 358px;
    
        &::placeholder {
            font-size: 16px;
            line-height: 1.25;
            color: rgba(255, 255, 255, 0.6);
        }
    }
}
