.logo {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 1.19;
    color: var(--title-text-color);
}

.logo-accent {
    color: var(--accent-color);
}

.footer-logo {
    display: inline-block;
    margin-bottom: 20px;

    color: var(--white-text-color);
}