.modal-form__label {
    position: relative;
    display: block;
    margin-bottom: 28px;
}

.modal-form__name {
    position: absolute;
    top: -18px;

    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--primary-text-color);
}

.modal-form__input {
    width: 100%;
    padding: 10px 10px 10px 42px;

    font-size: 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition: border 250ms var(--timing-function);

    &:focus {
        outline: none;
        border: 1px solid var(--accent-color);
    }
}

.modal-form__icon {
    position: absolute;
    left: 13px;
    top: 50%;

    transform: translateY(-50%);
    fill: var(--title-text-color);
    transition: fill 250ms var(--timing-function);

    .modal-form__label:focus-within & {
        fill: var(--accent-color);
    }
}

.modal-form__input_comments {
    resize: none;
    height: 120px;
    padding-left: 12px;

    &::placeholder {
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.01em;
        color: rgba(117, 117, 117, 0.5);
    }
}

.modal-form__label_comments {
    margin-bottom: 20px;
}


.agreement {
    text-decoration: underline;
    color: var(--accent-color);
}

.modal-send-btn {
    display: block;
    margin: 0 auto;
    padding: 10px 55px;

    transition: background-color 250ms var(--timing-function);

    &:hover,
    &:focus {
        background-color: #188CE8;
    }
}

