.social-list {
    display: flex;
    justify-content: center;
}

.social-list_item:not(:last-child){
    margin-right: 10px;
}

.social-icon-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;  
}

.social-icon {
    fill: var(--icon-color);
}

.footer-social-icon-link {
    border-radius: 50%;
    background-color: var(--footer-icon-color);
}

.footer-social-icon-list {
    display: flex;
    justify-content: center;
}

.footer-social-icon-list li:not(:last-child) {
    margin-right: 10px;
}

.footer-social-icon {
    fill: var(--white-text-color);
}

@media screen and (min-width:1200px) {
    .social-icon-link {
        border-radius: 50%;

        transition: background-color 250ms var(--timing-function);

        &:hover,
        &:focus {
            background-color: var(--accent-color);
        }
    }

    .social-icon {
        transition: fill 250ms var(--timing-function);

        .social-icon-link:hover &,
        .social-icon-link:focus & {
            fill: var(--white-text-color);
        }
    }

    .footer-social-icon-list {
        justify-content: start;
    }
}