:root {
    --primary-font-family: 'Roboto', sans-serif;
    --body-background-color: #ffffff;
    --title-text-color: #212121;
    --primary-text-color: #757575;
    --accent-color: #2196f3;
    --white-text-color: #ffffff;
    --footer-bg-color: #2f303a;
    --secondary-bg-color: #f5f4fa;
    --footer-contact-text-color: rgba(255, 255, 255, 0.6);
    --hero-gradient-color: rgba(47, 48, 58, 0.4);
    --icon-color: #afb1b8;
    --footer-icon-color: rgba(255, 255, 255, 0.1);

    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}