.filter-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.filter-list__item:not(:last-child) {
    margin-right: 8px;
}

.filter-list__button {
    padding: 6px 22px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    color: var(--title-text-color);
    background-color: var(--secondary-bg-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;

    transition:
        color 250ms var(--timing-function),
        background-color 250ms var(--timing-function),
        box-shadow 250ms var(--timing-function);

    &:hover,
    &:focus {
        color: var(--white-text-color);
        background-color: var(--accent-color);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
               0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}
